<!-- CHAT SECTION -->

<div id="chat-header">
    <span id="hide-chat"><i class="arrow right icon"></i></span>
    <span>Chat Messages</span>
    <span id="show-users"><i class="users icon"></i></span>
</div>
<div id="chat-messages">
    <ul id="chat-messages-list"></ul>
</div>

<div id="chat-send">
    <form >
        <input type="text" class="form-control" id="message-input" aria-describedby="" placeholder="Enter Name">
        <button id="message-button" type="button" class="btn btn-success mb-2"><i class="paper plane icon"></i></button>

    </form>
</div>
