<!-- HOME SECTIONS -->
<div class="background-img">
    <div class="layer" ></div>
    <img  id="bg-img" class = "img-responsive" src="img/bg2.jpg" />
    <img id="ytv-logo" class = "img-responsive" src="img/ytv.png" />
</div>

<div id="home-text" class="col-lg-8 col-xs-12 col-centered">
    <span>Quarantine & Chill</span>
</div>

<div id="name-entry" class="col-lg-8 col-xs-12 col-centered">
    <form>
        <input type="text" class="form-control" id="name-input" aria-describedby="" placeholder="Enter Name">
        <button id="name-button" type="button" class="btn btn-danger mb-2">JOIN SESSION</button>	
    </form>
</div>
