
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>BrokeFlix</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!-- <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css" rel="stylesheet" media="screen">  -->

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">

  </head>
  <body>
    <!-- <div class="container"> <img src="img/logo.png"  width="250px" height="250px"/></div> -->

    <div class="container">
      
          <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
      <div id="player"></div>
      <div id="video-control-bar">
        <div id="progressBar1">
          <span id="videoRemainingTime">0:0</span> 
          <div id="progressBar"></div>
          <div id="square"></div>
          <span id="videoDuration">4:28</span> 
        </div>
        <div id="player-controls">
          <button id="playButton" type="button" class="btn btn-default" aria-label="Play">
            <span class="glyphicon glyphicon-play"></span>
          </button>
          <button id="pauseButton" type="button" class="btn btn-default" aria-label="Pause">
            <span class="glyphicon glyphicon-pause"></span>
          </button>
        </div>
      </div>
     
    </div>
    <!-- /.container -->
    <div class="container"> 
      <form class="form-inline" onsubmit="submitForm()" target="_blank">
      <div class="form-group mx-sm-3 mb-2">
        <!-- <label for="inputPassword2" class="sr-only">Video ID</label> -->
        <input type="text" class="form-control" id="videoIdValue" placeholder="VideoID">
      </div>
      <button type="button" id="videoID" class="btn btn-primary mb-2">Submit</button>
    </form></div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script  src="js/player.js"></script>
  </body>
</html>
