<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="player"></div>
    
<div id="video-control-bar">
    <!-- Buttons -->
    <div id="player-controls">
        <button id="playButton" type="button" class="btn btn-default" aria-label="Play">
            <span class="glyphicon glyphicon-play"></span>
        </button>
        <button id="pauseButton" type="button" class="btn btn-default" aria-label="Pause">
            <span class="glyphicon glyphicon-pause"></span>
        </button>
    </div>
    
    <!-- Progress Line -->
    <div id="progressBar1">
        <span id="videoRemainingTime">0:0</span> 
        <div id="progressBar" >
            <div id="square"></div>
        </div>
        <span id="videoDuration">4:28</span> 
    </div>
</div>	
<!-- /.container -->
<div id="videoSubmission"> 
    <form class="form-inline" onsubmit="submitForm()" target="_blank">
        <div>
            <!-- <label for="inputPassword2" class="sr-only">Video ID</label> -->
            <input type="text" class="form-control" id="videoIdValue" placeholder="Enter video URL here">
            <button type="button" id="videoID" class="btn btn-success mb-2">Submit</button>
        </div> 
    </form>
</div>	