body {
  background-color: #282828;
  overflow: hidden;
}
#bg-img {
  height: -webkit-fill-available;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#video-section {
  display: none;
  float: left;
  width: 100%; 
}

#video-control-bar { 
  width: 80%;
  height: 90px;
  border: white 1px solid;
  padding: 20px;
  background-color: black;

}

#progressBar {
  width: 500px;
  height: 2px;
  background-color: #f7f7f7;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
}

#player-controls {
  float: left;
}

#square {
  background-color: red;
    top: -5px;
    width: 15px;
    height: 15px;
    position: relative;
    border-radius: 10px;
}

#videoRemainingTime, #videoDuration {
  color:white;
  float: left;
  padding-left: 5px;
}

#videoSubmission {
  float: right;
}

#videoIdValue {
  height: 50px;
  width: 300px;
}

#videoID {
  height: 50px;
}








/* HOME PAGEE */
#home-section {
  font-family: 'Alegreya', serif;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
}

#home-text {
  position: absolute;
  bottom: 40%;
  left: 25%;
  font-size: 70px;
}

#sub-text {
  font-size: 50px;
  word-wrap: break-word;
}
#left-side {
  width: 50%;
  margin-top: 105px;
}

#name-entry {
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 25%;
  height: 300px;
}

#name-input {
  width: 80%;
  height: 50px;
  float: left;
  font-family: sans-serif;
}

#name-button {
  height: 50px;
  font-weight: bold;
  font-family: sans-serif;
}





/* BACKGROUNG IMAGE */
.background-img{
  background-size: cover;
  position: relative;
}

#ytv-logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 25%;
}

.layer {
  background:rgba(0,0,0,0.5);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: -webkit-fill-available;
}





/* CHAT WINDOW */
#chat-section {
  background-color: white;
  width: 300px;
  height: 100%;
  display: none;
  position: absolute;
  right: 0;
}

#chat-header {
  padding: 15px;
  text-align: center;
  font-weight: bold;
  color: black;
  border-bottom: solid 1px rgba(0,0,0,0.1))
}


#chat-send {
  position: sticky;
  top: 100%;
  height: 50px;
  background: grey;
}

#chat-messages {
  height: 88%;
  background: whitesmoke;
  overflow: scroll;
  overflow-x: hidden;
}

#message-input {
  width: 85%;
  float: left;
  height: 50px;
}

#message-button {
  height: 50px;
}

.joined-message, .message-name {
  font-size: 13px;
  color: grey;
  margin: 10px;
  list-style-type: none;
  display: block;
}

.my-message {
  text-align: right;
}

.message-body {
  padding: 5px;
  border-radius: 6px;
  margin: 10px;
}
.my-message .message-body {
  background: lightgreen;
}

.message .message-body {
  background: lightskyblue;
}

#show-users {
  float: right;
}

#hide-chat{
  float: left;
}

ul {
  padding: 0;
}
li {
  list-style: none;
}