/* BACKGROUNG IMAGE */
#home {
	color: white;
	font-weight: bold;
	min-height: 100vh;
}

#bg-img {
	min-height: 100vh;
}

#ytv-logo {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	width: 25%;
}

.gradient-layer {
	background:rgba(0,0,0,0.5);
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

form {
	display: flex;
    width: 100%;
    justify-content: center;
}

#name-entry {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
	height: 300px;
}
  
#name-input {
	width: 50%;
	height: 50px;
	float: left;
}
  
#join-button {
	height: 50px;
	float: left;
	margin-left: 20px;
}
  
  #home-title {
	font-family: 'Alegreya', serif;
	font-size: 5vw;
  }